<% layout('layouts/admin_boilerplate')%>
<div class="container mx-auto">
  <div
    id="dog"
    class="rounded-3xl flex w-full bg-white shadow-md items-center flex-wrap gap-y-7 py-8 px-6 justify-sta"
  >
    <% for (let pet of pets) {%>
    <div
      class="h-fit flex-1 bg-light shadow-md flex rounded-md flex-col items-center mr-2 ml-2 cursor-pointer hover:shadow-lg hover:shadow-primary_light"
    >
      <div id="image" class="h-56 w-full min-w-72 bg-white rounded-t-md">
        <img
          src="<%=pet.image_name%>"
          class="object-cover h-full w-full rounded-t-md shadow-sm"
        />
      </div>

      <div id="info flex justify-center items-center">
        <p class="text-lg font-bold text-center mt-2 text-primary">
          <%= pet.pet_name %>
        </p>
        <p class="text-center"><%= pet.pet_breed %></p>
      </div>
      <div class="w-full flex justify-center mt-2">
        <button
          class="bg-primary_light w-full text-white py-2 hover:bg-[#50a79a]"
        >
          Edit
        </button>
        <button
          onclick="window.location.href='/admin/<%= pet.pet_id %>/delete'"
          class="bg-red-700 w-full text-white hover:bg-red-600"
        >
          Delete
        </button>
      </div>
    </div>
    <% } %>
  </div>
</div>
