<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="">
    <%- include('../partials/navbar')%>
    <main class=""><%- include('../partials/flash')%> <%- body %></main>
    <%- include('../partials/footer')%>
  </body>
</html>
