<!DOCTYPE html>
<html>
  <head>
    <title>Pet adoption</title>
  </head>
  <body>
    <h1>Pet Adoption</h1>
    <ul>
      <% pets.forEach(pet => { %>
      <li>
        <a><%= pet.pet_name %></a>
        <p>Age: <%= pet.age %></p>
      </li>

      <% }); %>
    </ul>
  </body>
</html>
