<% layout('layouts/boilerplate')%>
<div class="mt-24 container mx-auto">
  <div class="mb-5 shadow-sm py-6 bg-white rounded-md mt-5 text-lg">
    <div class="flex px-10 text-gray-600 text-2xl items-center">
      <img src="/images/dog1.jpg" class="rounded-lg bg-cover shadow-md mt-3" />
      <div class="ml-10 space-y-8 text-2xl">
        <div><span class="font-bold">Name:</span> <span>Charlie</span></div>
        <div>
          <span class="font-bold">Breed:</span> <span>Golden Retriever</span>
        </div>
        <div><span class="font-bold">Age:</span> <span>4 years</span></div>
        <div>
          <a href="" class="font-bold text-primary">Puttur Paws</a>
        </div>
        <button
          onclick="window.location.href='/pets/12/adopt'"
          class="w-fit px-6 py-3 mt-10 bg-primary text-white hover:bg-primary_light rounded-md font-semibold"
        >
          Adopt me!
        </button>
      </div>
    </div>
    <div class="px-10">
      <div class="text-4xl font-bold text-gray-600 mt-10 mb-6">About:</div>
      <p class="text-gray-600 text-2xl leading-10">
        Our dog is not just a pet; they're a faithful companion, always ready
        for adventures or cozy cuddle sessions on the couch. They thrive on love
        and attention, and in return, they offer endless affection and loyalty.
        Whether it's long walks in the park, playful fetch sessions, or simply
        lounging by your side, this dog is adaptable and ready to fit seamlessly
        into your life. They come with a heart full of love and a soul ready to
        bond with their new family. Rescued and now seeking a forever home, this
        dog promises to be a loyal and devoted friend for life. Adopting this
        furry companion means adding immeasurable happiness and love to your
        home. Are you ready to open your heart and welcome this wonderful dog
        into your life?
      </p>
    </div>
    <div class="px-10">
      <div class="text-3xl font-bold text-gray-600 mt-10 mb-6">
        Special Care:
      </div>
      <p class="text-gray-600 text-2xl leading-10">N/A</p>
    </div>
  </div>
</div>
