<% layout('layouts/boilerplate')%>
<section id="login">
  <form action="/login" method="post">
    <div class="container logindiv">
      <h1 class="logintitle">Login</h1>
      <div class="inp">
        <label>Username : </label>
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          required
        />
      </div>
      <div class="">
        <label class="">Password : </label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
      </div>

      <p class="textp">
        Not a member yet ? <a href="/signup" class="to_register">Join us</a>
      </p>

      <div class="">
        <button class="" formaction="/login" type="submit">Login</button>
      </div>
    </div>
  </form>
</section>
